{% extends "base.html" %}

{% block center %}

<div class="mdl-grid demo-content">

    <form method="post" class="mdl-cell mdl-cell--12-col mdl-grid" style="padding: 0px; width: 100%; margin: 0px;">{% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% for field in form %}
                        {{ field.errors }}
                        <!--{{ field.label_tag }} -->
                        {{ field }}
                        {% if field.help_text %}
                        {{ field.help_text|safe }}
                        {% endif %}
                {% endfor %}
            {% endfor %}
        <!--<input type="submit" value="Submit">-->
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Submit
</button>
    </form>
</div>

{% endblock %}