{% extends "base.html" %}

{% block center %}

<div class="mdl-grid demo-content">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Group Name</th>
            <th>Members</th>
        </tr>
        </thead>
        <tbody>
        {% for group in group_list %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="{{ group.get_absolute_url }}update/">
                {{ group.name }}
                </a>
            </td>
            <td>{{ group.get_member_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a href="create" id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"><i class="material-icons">add</i></a>
{% endblock %}