<div class="mdc-text-field mdc-select {% include "django/forms/widgets/attrs_class_container.html" %}" style="{% include "django/forms/widgets/attrs_style_container.html" %}" data-mdc-auto-init="MDCSelect">
<select class="mdc-text-field__input mdc-select__native-control" name="{{ widget.name }}"{% include "django/forms/widgets/attrs_material.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
  <label class="mdc-floating-label" for="{{ widget.attrs.id }}">{{ widget.attrs.label }}</label>
  <div class="mdc-line-ripple"></div>
</div>